Logslogs.lognpm-debug.logyarn-debug.log*yarn-error.log*lerna-debug.log*Runtime datapids*.pid*.seed*.pid.lockDirectory for instrumented libs (e.g. jscoverage)lib-covCoverage directory used by tools like istanbulcoveragenyc test coverage.nyc_outputGrunt intermediate storage (https://www.google.com/search?q=https://gruntjs.com/creating-plugins%23storing-files).gruntBower dependency directory (https://bower.io/)bower_componentsnode.js dependencies/node_modulesE2E test filese2e/
